name: ReaPack Indexer

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run reapack-index
        uses: cfillion/reapack-index-action@v1
        with:
          version: 1.2.3
          # 这一行意思是：把生成的 index.xml 直接提交回当前分支
          commit: true
          commit_message: "Auto-generate index.xml"
